.body {
  background-color:seagreen;
  font-family:arial;
}
.header {
  background-color:darkorange;
  color:brown;
  text-align:center;
  font-family:arial;
}
.paragraph {
  background-color:sienna;
  color:yellow;
  font-family:arial;
}
.table {
  background-color:firebrick;
  color:limegreen;
  font-family:arial;
}
.list {
  background-color:khaki;
  color:darkorchid;
  font-family:arial;
}
